string{
	color: blue;
}
identifier{
	color: rgb(0, 137, 161);
}
delimiter{
	color: deeppink;
}
operator{
	color: red;
}
userIdentifier{
	color: green;
}
integer{
	color: gray;
}
float{
	color: orange;
}
imaginary{
	color: orange;
}
commentary{
	color: orange;
}
pre{
	font-size: xx-large;
}
